html,
body,
#app {
  height: 100vh;
}

:root {
  --custom-color: #af4c64;
  --custom-lightcolor: #bf6f83;
}

.bg-custom {
  background-color: var(--custom-color);
}

.required label::after {
  content: "*";
  color: var(--custom-color);
}

@media (max-width: 992px) {
  .row > *:not(:last-child) > .form-input {
    margin-bottom: 1rem !important;
  }
}

@media (min-width: 992px) {
  .col-border-start {
    border-width: 1px !important;
    border-left: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
  .col-border-end {
    border-width: 1px !important;
    border-right: var(--bs-border-width) var(--bs-border-style) var(--bs-border-color) !important;
  }
}
